@model IEnumerable<Impacta.AspNet.Mvc.MOD.Editora>

@{
    ViewBag.Title = "Editoras";
}
<div class="container-fluid" style="margin-top: 25px;">
    <h2>Lista de Editoras</h2>

    <p>
        @Html.ActionLink("+Editora", "RegistraEditora")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCelular)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCelular)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.EditoraId }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.EditoraId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        }

    </table>
</div>